<html>
<head>
	<title>
		QuestsStats - quest info
	</title>
	<!-- CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./css/quest.css">
</head>
<body>
	<template v-if='data' id="pathway-template">
	    <div class='row justify-content-center'>
			<table>
				<thead class='text-center'>
					<tr class="d-flex">
						<th class="col-2">
							Status
						</th>
						<th class="col-2">
							Path name
						</th>
						<th class="col-8">
							Leafs info
						</th>
					</tr>
				</thead>
				<tbody class='text-center'>
					<tr class="d-flex">
						<th class="col-2">
							{{data['status']}}
						</th>
						<th class="col-2">
							{{data['name']}}
						</th>
						<th class="col-8">
							<teamplate v-for="leaf in data.leafs">
								<span v-if="data.completed.includes(leaf)"><i class="fa fa-check" 
									style="font-size:30px;color:green"></i></span>
					         	<span v-else><i class="fa fa-times" style="font-size:30px;color:red"></i></span>
					         	<span v-if="leaf !== data.leafs[data.leafs.length-1]"><i class="fa fa-long-arrow-right" 
					         		style="font-size:30px;color:black"></i></span>	
				         	</teamplate>
						</th>
					</tr>
				</tbody>
			</table>
		</div>
	</template>

	<!-- Vue element -->
	<div id="grid">
		<div v-cloak>
			<div v-if='quest' class='container-fluid'>
			    <div class='row border-top border-bottom'>
					<div class='col-4'>
						<p>Build ID: </p>
					</div>
					<div class='col-4'>
						<p>Platform: </p>
					</div>
					<div class='col-4'>
						<p>Quest Name: </p>
					</div>
				</div>
				<div class='row border-bottom'>
					<div class='col-4'>
						<p> {{quest.globalId}}</p>
					</div>
					<div class='col-4'>
						<p> {{quest.platform}}</p>
					</div>
					<div class='col-4'>
						<p> {{quest.name}}</p>  
					</div>
				</div>
				<div class='row justify-content-center'>
					<div class='col-4 label'>Pathways</div>
				</div>
				<pathway
				    :data="quest.pathway">
				</pathway> 
			</div>
			<div v-else class='container-fluid'>
				<div class='row justify-content-center'>
					<div class='col-4'>
						<i class="fa fa-calendar-times-o" style="font-size:160px;color:black"></i>
						<p class='label'>Quest Info Not Found</p>
						<p>For more inforamtion, please contact the developers.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- JS -->
		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<!-- Popper (for bootstrap) -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<!-- Bootstrap -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
			integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<!-- Vue -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<!-- Axios (AJAX) -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!-- Custom -->
		<script src='./js/quest.js'></script>
</body>
</html>